<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name" >Name</label>
          <input type="text" id="name" [formControlName]="'name'" class="form-control">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="content">Your review</label>
          <textarea name="content" id="content" [formControlName]="'content'" class="form-control" rows="6"></textarea>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success" [disabled]="!reviewForm.valid">Add review</button>
      </div>
    </div>
  </form>

