<div class="row">
  <div class="col-xs-12">
    <h1>Product list</h1>
    <a *ngFor="let product of (products$ | async); let i = index"  routerLink="/product/{{product.id}}" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ product.name }}</h4>
        <p class="list-group-item-text">{{ product.description }}</p>
      </div>
      <span class="pull-right">
        <img [src]="product.variants[0].image" alt="{{ product.name }}" class="image-responsive" style="max-height: 50px">
      </span>
    </a>
  </div>
</div>