.row {
    .col-xs-12 {
      border: 1px solid #ddd; 
      border-radius: 5px;     
      overflow-y: auto;       
      max-height: 650px;      
      max-width: 1000px;
      margin: 0 auto;
      padding: 15px;          
      background-color: #f9f9f9; 
  
      .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fff; // Background for each item
        border: 1px solid #eaeaea; // Border for each item
        border-radius: 4px;       // Slight rounding for item corners
  
        &:hover {
          background-color: #f1f1f1; // Highlight on hover
        }
  
        .pull-left {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
  
        .pull-right {
          display: flex;
          align-items: center;
  
          img {
            max-height: 50px;
          }
        }
      }
    }
  }
  