.checkout-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.checkout-content {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.cart-items {
  flex: 1;
  margin-right: 20px;
  max-height: 400px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.total-price,
.discount,
.final-price {
  margin-top: 10px;
  font-size: 1.2em;
}

.payment-method {
  margin-right: 100px;
  flex: 1;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.qr-code img {
  width: 100%;
  // max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin-left: 150px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn:hover:enabled {
  background-color: #0056b3;
}